.google-btn-wrapper {
  margin-top: 10px;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #757575;
  font-size: 16px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.google-btn img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.google-btn:hover {
  background-color: #f7f7f7;
}
